#add_button {
    width: 8vw;
    height: auto;
    padding: 0.5rem;
    background-color: white;
    border: 5px solid #A61414;
    border-radius: 0;
}

.add_to_cart_container {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    
}