.bike_container {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    /* margin-top: 1rem; */
    padding-right: 4rem;
    justify-content: flex-end;
    gap: 40px;
}

.bike_information_color {
    display: flex;
    margin-top: 1rem;
}

.bike_information_color p,
.rim_container p,
.add_detail_container p {
    font-size: 1.5rem;
    font-family: Haettenschweiler;
    margin-right: 1rem;
    
}

.bike_container hr {
    width: 32vw;
    border: #F29F05 solid 0.25rem;
    background-color: #F29F05;
    opacity: 10;
}

.bike_container h1 {
    color: black;
    font-size: 2rem;
    font-family: Haettenschweiler;
}

.name_container {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    /* margin-left: 5rem; */
    margin-top: 1rem;
    max-width: 80vw;
    
}

.name_container h1 {
    text-align: center;
}

.bike_image_container {
    display: flex;
    align-content: flex-end;
    
}
/* 
.button_color {
    width: 20%;
    height: 20%;
} */